@font-face {
  font-family: "Hikk";
  src: url("font/hikk.ttf");
}
@font-face {
  font-family: "Stro";
  src: url("font/stro.ttf");
}

#center{
background:#9E9D9E;
display:block;
margin-top:50px;
margin-left:20px;
height:100%;
min-width:550px;
max-width:1150px;
border-radius: 20px;
border:3px solid red;
}

.top{
background:url(pic/backhaikei_1.png) repeat scroll;
height:200px;
display:block;
margin-top:-20px;}

.ppo{
font-family:"Hikk";
font-size:50px;
margin-top:20px;
margin-left:20px;
}
.name{
margin-left:42%;
}

.pannel{
display:block;
border-radius:8px;
color #blue;
width:230px;
height:50px;
text-align:center;
}
.el{
font-size:28px;
margin-top:50px;
}
.Qest{
margin-left:20%;
}
.Ans{
margin-left:10%;
}

.sw{
text-decoration:none;
font-size:20px;
line-height: 50px;
font-size:28px;
font-family:"Stro";
}

.ganb{
display;block;
}
.kuso_tg{
display:none;
margin-top:100px;
margin-left:20px;
}

.SK{
background:#88C4FF;
}
.kuso{
background:#A8FB8C;
}	
.lago{
margin-left:40%;
}
.SK_tg{
display:none;
margin-top:100px;
margin-left:20px;
}

html{
  max-width: 1200px;
  margin: 0 auto;
  background: #eee;
}